	.content > div {
  display: none;
	}

#home {
    display: block;
}


	.content div:target {
  display: block;
	}

   .content div:target ~ #home {
    display: none;
}


.navbar { 
  overflow:hidden;
  background-color: #333;  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropbtn {
  float: left;
  font-size: 16px;  
  color: white;
  padding: 14px 21px; 
}

.navbar a:hover, .dropbtn:hover {
  color: black;
  background-color: #f9f9f9
}
.navbar a, .dropbtn, .dropdown-content a{
  transition-duration: 0.2s;
}

.dropdown-content {
  display:none;
  position: absolute;
  max-width:120px;
  left:8px;
  top:55px;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 25px;
  text-decoration: none;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropbtn:hover .dropdown-content {
  display: block;
}





body{
	  background-color: grey;
	  }
  p{
	  font-family: Arial, Helvetica, sans-serif;
	  }
	  


	  
   #dis{
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    margin: 10px 50px;
}
h1, .pgh{
	border: 1px solid black;
	border-radius: 4px;
	background-color: #f1f1f1;
	padding: 10px;
	overflow:hidden;
	
}
h1{
text-align:center;
}
.this{
	border: 1px solid black;
	border-radius: 4px;
	background-color: #f1f1f1;
	padding: 10px;
	padding-left:50px;
}

td, th{
	border: 1px solid black;
	padding:10px;
}

#contacttable{
	background-color: #f1f1f1;
    border: 1px solid black;
    border-collapse: collapse;
	margin: auto;
}

.secondcolor{
	background-color: #c1c1c1;
}

h2{
background-color: white;
padding: 5px;
border-radius:4px;
text-align: center;
}

#all { 
background-color: white;
padding: 5px;
border-radius:4px;
}

*{box-sizing: border-box;}

img {
width: 100%;
}


#orig{
 margin:auto;
 display:block;
 width: 50%;
  padding: 5px;
}
.column { 
  float: left;
  width: 50%;
  padding: 5px;
 }


.row{
overflow:hidden;
}

	  .i {
  border: 5px solid  #c1c1c1;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  width: 350px; 
  height:550px;
}

input,select{
    margin-right:5px;
    margin-top:5px;
    }
#teacherform ,#sportsform{
    display:none;
    }
    
#teacher{
margin-top: 20px;   
}

#table, #table2{
    border: 1px solid black;
    border-collapse: collapse;
	margin: auto;
	width: 70%;
	overflow:hidden;
	
}
.black{
background-color: #c1c1c1;
}
#teacherssports{
background-color:white;
padding:10px;
margin-top:10px;
border-radius:4px;
border: 1px solid black;
}


button, .button{
  background-color:#555555; 
  border: 1px solid black;
  color: white;
  text-decoration: none;
  padding:5px 10px;

margin:10px;
}

button:hover, .button:hover {
  background-color: #e7e7e7; 
  color:black;
}
button, .button {
  transition-duration: 0.2s;
}

@media screen and (max-width: 500px) {
  .column , #orig{
    width: 100%;
  }
}

#logo{
float:right;
width: 100px; 
border-radius: 50%; 
background-color: white;
}



@media screen and (max-width: 500px) {
  #logo{
    float:none;
    display:block;
    width: 50%;
    margin: 0px auto 10px;
 
 }

#table, #table2{
width:100%;
}
}
